package pages

import (
	"github.com/hyperremix/handball-analyzer/components/partials"
	"github.com/hyperremix/handball-analyzer/model"
)

templ SeasonsBase(seasons []model.SeasonResponse) {
	<html lang="en">
		@partials.Head()
		<body class="bg-gray-900 text-white">
			@partials.AppBar()
			@partials.SeasonsPartial(seasons)
		</body>
	</html>
}
